{
	"users" : [
		{
			"email"    : "user 1 email",
			"password" : "user 1 password"			
		},
		{
			"email"    : "user 2 email",
			"password" : "user 2 password"			
		}
	],
    "domain"             : "circuitsandbox.net",
    "sdkLogLevel"        : "warn",
    "filesPath"          : "./files/"
}
